@model bearhug.Models.PasswordReset
@{
    ViewBag.Title = "Update Password";
}
<h4 class="subheader">Update Password</h4>
<div class="row">
    <div class="small-8 columns">
        @if (ViewBag.ID == "Not found" || ViewBag.Username == "Not Found")
        {
            <h5>The link you followed is either out of date or invalid.  Please contact the referrer to generate a new one.</h5>
        }
        else
        {
            <h5>Your account will be re-activated.  Please reset your password below to complete the process.</h5>
        }
    </div>
</div>
<div class="row">
    <div class="small-4 columns">
        @using (Html.BeginForm("UpdatePassword", "Account", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary()
            <fieldset>
                <legend>Update Account</legend>
                <ul>
                    <li>
                        @Html.LabelFor(m => m.UserName)
                        @Html.TextBoxFor(m => m.UserName, new { @class = "radius" })
                    </li>
                    <li>
                        @Html.LabelFor(m => m.Password)
                        @Html.PasswordFor(m => m.Password, new { @class = "radius" })
                    </li>
                    <li>
                        @Html.LabelFor(m => m.ConfirmPassword)
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "radius" })
                    </li>
                </ul>
                <input type="submit" value="Update" class="button tiny radius right" />
            </fieldset>
        }
    </div>
</div>
