@model bearhug.Models.InteractionConstruct
@{
    ViewBag.Title = "Create Interaction";
}
<link href="~/Content/select2/select2.css" rel="stylesheet" />

<div class="row">
    <div class="small-6 columns">
        <h4 class="subheader">New Transaction</h4>
    </div>
    <div class="small-6 columns">
        @Html.ActionLink("Cancel", "Index", null, new { @class = "button tiny radius right" })
    </div>
</div>
<div class="row">
    <div class="small-6 columns">
        <dl class="sub-nav">
            <dd id="dd-general" class="active"><a href="#">General</a></dd>
            <dd id="dd-contacts"><a href="#">Contacts</a></dd>
            <dd id="dd-summary"><a href="#">Summary</a></dd>
        </dl>
    </div>
</div>
@using (Html.BeginForm("New", "Interactions", FormMethod.Post, new { @class = "form-horizontal", @id = "create_transaction_form", @enctype = "multipart/form-data" }))
{
    <fieldset>
        <legend>New Transaction</legend>
        <div class="row interaction-invite-general">
            <div class="small-4 columns end">
                <label>Do you wish to assign this Interaction to a patient?</label>
            </div>
        </div>
        <div class="row interaction-invite-general">
            <div class="small-12 columns">
                <label class="text-warning">Note: Assigning a patient will not included patient in any messages sent during this initial setup.  Once the interaction is created you will have the opportunity to send messages directly to the patient.  You may assign a patient later if you wish.</label>
            </div>
        </div>
        <div class="row interaction-invite-general">
            <div class="small-12 columns">
                <hr />
            </div>
        </div>
        <div class="row interaction-invite-general">
            <div class="small-12 columns">
                <div class="interaction-invite-general-sizer">
                    <div class="row">
                        <div class="small-2 columns">
                            &nbsp;
                        </div>
                        <div class="small-4 columns end">
                            <label>
                                <input type="hidden" name="transaction_include_patient" value="false">
                                <input id="transaction_include_patient" name="transaction_include_patient" type="checkbox" value="true">
                                Check to assign Interaction to a patient.
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="small-2 columns new-interaction-patients">
                            <label class="inline right" for="transaction_patient">Add Patient</label>
                        </div>
                        <div class="small-4 columns end new-interaction-patients">
                            <select id="transaction_patient" name="transaction_patient" style="width: 100%;">
                                @foreach (bearhug.PatientsServiceReference.Patient patient in Model.Patients)
                                {
                                    <option value="@patient.Id">@patient.FirstName @patient.LastName</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="small-2 columns">
                            <label class="inline right" for="transaction_subject">Subject</label>
                        </div>
                        <div class="small-4 columns end">
                            <input id="transaction_subject" name="transaction_subject" type="text" required="required" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row interaction-invite-general">
            <div class="small-12 columns">
                <button id="btn1next" type="button" class="button tiny radius secondary right">Next</button>
            </div>
        </div>
        <div class="row interaction-invite-contacts">
            <div class="small-2 columns">
                <label class="right" for="transaction_contacts">Add Contacts</label>
            </div>
            <div class="small-3 columns">
                <select id="transaction_contacts" name="transaction_contacts" required="required" style="width: 100%;">
                    @foreach (bearhug.ContactsServiceReference.Member member in Model.MemberContacts)
                    {
                        string name;
                        if (member.FirstName.Length > 0 || member.LastName.Length > 0)
                        {
                            name = member.FirstName + " " + member.LastName;
                        }
                        else
                        {
                            name = member.ContactID;
                        }
                        <option data-source="member" value="@member.ContactID">@name</option>
                    }
                    @foreach (bearhug.ContactsServiceReference.NonMember nonmember in Model.NonMemberContacts)
                    {
                        string name;
                        if (nonmember.FirstName.Length > 0 || nonmember.LastName.Length > 0)
                        {
                            name = nonmember.FirstName + " " + nonmember.LastName;
                        }
                        else
                        {
                            name = nonmember.ContactID;
                        }
                        <option data-source="nonmember" value="nonmember_@nonmember.ContactID">@name</option>
                    }
                </select>
            </div>
            <div class="small-1 columns end">
                <button id="btn_add_contact" class="button tiny radius" type="button">Add</button>
            </div>
        </div>
        <div class="row interaction-invite-contacts">
            <div class="small-12 columns end">
                <div class="tbl-invite-users-header-container">
                    <table class="tbl-invite-users-header">
                        <thead>
                            <tr>
                                <th class="tbl-invite-users-contact">Contact</th>
                                <th class="tbl-invite-users-choice">Power User</th>
                                <th class="tbl-invite-users-choice">User</th>
                                <th class="tbl-invite-users-action">&nbsp;</th>
                            </tr>
                        </thead>
                    </table>
                </div>
                <div class="tbl-invite-users-body-container">
                    <table class="tbl-invite-users-body">
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row interaction-invite-contacts">
            <div class="small-12 columns">
                <button id="btn2prev" type="button" class="button tiny radius secondary">Previous</button>
                <button id="btn2next" type="button" class="button tiny radius secondary right">Next</button>
            </div>
        </div>
        <div class="row interaction-invite-summary">
            <div class="small-12 columns">
                <label id="lblPatient"></label>
                <label id="lblSubject"></label>
                <label id="lblComment"></label>
            </div>
        </div>
        <div class="row interaction-invite-summary users-summary-container">
            <div class="small-12 columns">
                <table class="tbl-invite-users-summary">
                    <thead>
                        <tr>
                            <th>Added Contact</th>
                            <th>Role</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
        <div class="row interaction-invite-summary">
            <div class="small-12 columns">
                <button id="btn3prev" type="button" class="button tiny radius secondary">Previous</button>
                <button type="submit" class="button tiny radius right">Submit</button>
                <select id="hdn_power_users" name="hdn_power_users" multiple="multiple" class="hidden-variables"></select>
                <select id="hdn_users" name="hdn_users" multiple="multiple" class="hidden-variables"></select>
                <input id="hdn_include_patient" name="hdn_include_patient" type="hidden" value="false" />
                <input id="hdn_patient" name="hdn_patient" type="hidden" />
                <input id="hdn_subject" name="hdn_subject" type="hidden" />
            </div>
        </div>
    </fieldset>
}

<script src="~/Scripts/select2/select2.js" type="text/javascript"></script>
<script type="text/javascript">
    $(function () {

        $('.top-bar-section ul li').removeClass('active');
        $('#li-interactions').addClass('active');

        $('#transaction_patient').select2();
        $('#transaction_contacts').select2();

        $('#transaction_include_patient').change(function () {
            $('#hdn_include_patient').val($(this).is(':checked'));
            if ($(this).is(':checked')) {
                $('.new-interaction-patients').show();
            }
            else {
                $('.new-interaction-patients').hide();
            }
        });

        $('#btn1next').click(function (e) {
            //if ($('#transaction_subject').val().length > 0) {
            $('.sub-nav dd').removeClass('active');
            $('#dd-contacts').addClass('active');
            $('.interaction-invite-general').fadeOut(function () {
                $('.interaction-invite-contacts').fadeIn();
            });
            //}
        });

        $('#btn2prev').click(function (e) {
            $('.interaction-invite-contacts').fadeOut(function () {
                $('.interaction-invite-general').fadeIn();
            });
        });

        $('#btn2next').click(function (e) {
            //if ($('.tbl-invite-users-body .new-contact').length > 0) {
            $('.sub-nav dd').removeClass('active');
            $('#dd-summary').addClass('active');
            $('.interaction-invite-contacts').fadeOut(function () {
                $('.interaction-invite-summary').fadeIn();
            });
            generateSummary();
            //}
        });

        $('#btn3prev').click(function (e) {
            $('.interaction-invite-summary').fadeOut(function () {
                $('.interaction-invite-contacts').fadeIn();
            });
        });

        $('#btn_add_contact').click(function () {
            var contact = $('#transaction_contacts').find(':selected');
            var id = Math.floor(Math.random() * 1000000001);
            var poweruser = $(contact).data('source') == 'member' ? '<input type="radio" name="' + $(contact).val() + '" id="opt1_' + $(contact).val() + '" value="poweruser">' : 'N/A';
            $('.tbl-invite-users-body tbody').append(
                $('<tr id="' + id + '" class="new-contact"></tr>').append(
                    $('<td class="tbl-invite-users-contact">' + $(contact).text() + '</td>'),
                    $('<td class="tbl-invite-users-choice">' + poweruser + '</td>'),
                    $('<td class="tbl-invite-users-choice"><input type="radio" name="' + $(contact).val() + '" id="opt2_' + $(contact).val() + '" value="user" checked="checked"></td>'),
                    $('<td class="tbl-invite-users-action"></td>').append(
                        $('<a href="#" class="remove-contact" data-val="' + $(contact).val() + '" data-text="' + $(contact).text() + '" data-idx="' + id + '" data-source="' + $(contact).data('source') + '">Remove</a>')
                            .click(function (e) {
                                e.preventDefault();
                                $('#transaction_contacts')
                                    .append($('<option></option>')
                                    .data('source', $(this).data('source'))
                                    .attr('value', $(this).data('val'))
                                    .text($(this).data('text')));
                                var idx = $(this).data('idx');
                                $('#' + $(this).data('idx')).remove();
                                $('#transaction_contacts').append($('#transaction_contacts').find('option').sort(sorter));
                                if ($('#transaction_contacts option').length > 0) {
                                    $('#btn_add_contact').removeAttr('disabled');
                                }
                                if ($('.tbl-invite-users-body tbody tr').length == 0) {
                                    $('.tbl-invite-users-header, .tbl-invite-users-body, .tbl-invite-users-summary').hide();
                                }
                            })
                    )
                )
            );
            $('#transaction_contacts').find(":selected").remove();
            $('#transaction_contacts').append($('#transaction_contacts').find('option').sort(sorter));
            $('#transaction_contacts').select2();
            if ($('#transaction_contacts option').length == 0) {
                $('#btn_add_contact').attr('disabled', 'disabled');
            }
            $('.tbl-invite-users-header, .tbl-invite-users-body, .tbl-invite-users-summary').show();
        });

        function sorter(a, b) {
            return (a.innerHTML > b.innerHTML) ? 1 : -1;
        };

        function generateSummary() {
            $('#tbl-selected-users tbody tr').remove();
            if ($('#transaction_include_patient').is(':checked')) {
                $('#hdn_patient').val($('#transaction_patient').find(":selected").val());
                $('#lblPatient').text('Patient: ' + $('#transaction_patient').find(":selected").text());
            }
            else {
                $('#lblPatient').text('Patient: None selected');
            }
            $('#hdn_subject').val($('#transaction_subject').val());
            $('#lblSubject').text('Subject: ' + $('#transaction_subject').val());
            //$('#hdn_details').val($('#transaction_details').val());
            //$('#lblDetails').text('Details: ' + $('#transaction_details').val());
            $('#hdn_power_users option').remove();
            $('#hdn_users option').remove();
            $('.tbl-invite-users-body').find('.new-contact').each(function (i, row) {
                var name = $($(row).children('td').get(0)).text();
                var rdoName = $($(row).children('td').get(2)).find('input').attr('name');
                var role = $('input:radio[name="' + rdoName + '"]:checked').val();
                if (role == 'poweruser') {
                    $('#hdn_power_users')
                        .append($('<option selected="selected"></option>')
                        .attr('value', rdoName)
                        .text(rdoName));
                }
                else if (role == 'user') {
                    $('#hdn_users')
                        .append($('<option selected="selected"></option>')
                        .attr('value', rdoName)
                        .text(rdoName));
                }
                var displayRole = role == 'poweruser' ? 'Power User' : 'User'
                $('.tbl-invite-users-summary tbody').append(
                    '<tr>' +
                        '<td>' + name + '</td>' +
                        '<td>' + displayRole + '</td>' +
                    '</tr>'
                );
            });
        }

    });
</script>
